enableCors: true
corsOrigins: "*"

# If using attaching IAM Role to instance leave accessKey and secretKey empty
s3Fs:
    bucket: <bucket>
    pathPrefix: <path_prefix>
    credentials:
      accessKey: <key> 
      secretKey: <secret> 

multifetch:

    # maximum number of threads for concurrent multi-fetch. Set to zero to disable concurrent fetching.
    concurrencyLevel: 100
    
    # Recommended size >= 16777216. Set to zero to disable caching.
    maxCacheSize: 67108864
    
    enableCacheLogger: false
    
    maxBatchSize: 4194304

#folderFs:
#  folderPath: /opt/takipi-storage/storage
#  maxUsedStoragePercentage: 0.95


server:
  gzip:
    includedMethods: [POST, GET]
#  softNofileLimit: 1000
#  hardNofileLimit: 1000
  applicationConnectors:
    - type: http
      port: 8080
# https support
#    - type: https
#      port: 8443
#      keyStorePath: example.keystore
#      keyStorePassword: example
#      validateCerts: false
  adminConnectors:
    - type: http
      port: 8081

# Logging settings.
logging:

  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
  level: INFO

  # Logger-specific levels.
  loggers:

    com.takipi: DEBUG

  appenders:
    - type: console
