enableCors: true
corsOrigins: "*"

s3Fs:
    bucket: <bucket>
    pathPrefix: <path_prefix>
    credentials:
      accessKey: <key> 
      secretKey: <secret> 

server:
  applicationConnectors:
    - type: http
      port: 8080
# https support
#   - type: https
#     port: 8443
#     keyStorePath: example.keystore
#     keyStorePassword: example
#     validateCerts: false
  adminConnectors:
    - type: http
      port: 8081

# Logging settings.
logging:

  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
  level: INFO

  # Logger-specific levels.
  loggers:

    com.takipi: DEBUG

  appenders:
    - type: console
